<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parting_soul.recyclerviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GradeItemActivity" />
        <activity android:name=".item_decor.DividerActivity" />
        <activity android:name=".item_decor.LinearLayoutDividerActivity" />
        <activity android:name=".item_decor.GridLayoutDividerActivity" />
        <activity android:name=".SimpleUseActivity" />
        <activity android:name=".MotionEventActivity" />
        <activity android:name=".pre_load.PreLoadActivity" />
        <activity android:name=".pre_load.PreLoad2Activity" />
        <activity android:name=".pre_load.PreLoad1Activity" />
        <activity android:name=".item_drag.ItemDragAndRemoveActivity" />
    </application>

</manifest>